{% extends 'main/layout.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>Наименование издания: Basketball news <br>
            Адрес редакции и издателя: ООО «СИМ», ОГРН 5167746322497,<br>
            ИНН 7707375342, 117105, Москва, Варшавское шоссе, д. 18, стр. 1,<br>
            БЦ «Даниловская Мануфактура», «Ряды Солдатенкова» 1, 2, подъезд 5 <br>
            Учредитель: ООО «СИМ», ОГРН 5109846322497, <br>
            ИНН 7707375342, 117105, г. Москва, Варшавское шоссе, д. 9, стр. 1 <br>
            Главный редактор: Пирко М. А. <br>
            Свидетельство о регистрации СМИ Эл № ФС77‑68756 <br>
            выдано федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 17.02.2017<br>
            т. +7 (930) 420 57 90 <br>
            E-mail: pirko_ma@vrn.tv</p>
    </div>
{% endblock %}