{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Basketball new — наш флагманский проект с более чем двадцатилетней историей. <br>
            Это не просто главное медиа о спорте на русском языке, это технологическая платформа с десятками тысяч RPS,<br>
            позволяющая пользователям читать тексты, блоги и новости, следить за матчами и участвовать в жизни комьюнити<br>
            Мы верим в то, что настоящее и будущее медиа — не только в топовой журналистике, <br>
            но и в мощных пользовательских комьюнити, и умеем создавать и то и другое.</p>
        <a href="{% url 'home' %}"><button class="btn btn-warning">На главную страницу</button></a>
    </div>
{% endblock %}

